footer {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
}

.footer-left-1 {
    font-weight: 500;
    margin-left: 75px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer-left-2 {
    font-weight: 500;
    margin-left: -75%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.footer-right {
    font-weight: 500;
    margin-right: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 12px;
    align-self: flex-end;
}

.social-vk {
    font-size: 32px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}

.social-vk:hover {
    opacity: 0.5;
}